div.container {
  color: #878787;
}
div.card {
  margin-top: 20px;
}
div.currentCity {
  margin-top: 20px;
}
div.otherDays {
  margin-top: 20px;
}
a {
  color: blueviolet;
}
.weather-temp img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
  border-color: blue;
}

#author {
  text-align: center;
  margin: auto;
  opacity: 0.7;
}
#current-location {
  display: inline;
}
#current-city {
  display: inline;
}
#currentTemp {
  font-size: 32px;
  line-height: 1;
}
#mainEmoji {
  font-size: 60px;
}
#otherEmoji {
  font-size: 30px;
}
.weather-forecast {
  margin: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 14px;
  opacity: 0.5;
}
.weather-forecast-temp {
  font-size: 12px;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
